<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color:rgba(112, 82, 205, 0.44)">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style='font-family: "Verdana", Sans-serif; font-weight: bold;'>Help Q</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/polls/" style='font-family: "Copperplate", fantasy;'>Home</a>
        </li>

        <li class="nav-item">
          {% if request.user.is_authenticated %}
            <a class="nav-link active" aria-current="page" href="/accounts/profile/" style='font-family: "Copperplate", fantasy;'>Profile</a>
          {% else %}
          {% endif %}
        </li>

        <li class="nav-item">
          {% if request.user.is_authenticated %}
            <a class="nav-link active" aria-current="page" href="/queue/" style='font-family: "Copperplate", fantasy;'>Queue</a>
          {% else %}
          {% endif %}
        </li>

        <li class="nav-item">
          {% if request.user.is_authenticated %}
            <a class="nav-link active" href="/accounts/logout/" style='font-family: "Copperplate", fantasy;'>Logout</a>

          {% else %}
            <a class="nav-link active" active href="/accounts/login/" style='font-family: "Copperplate", fantasy;'>Login</a>
          {% endif %}
        </li>

        <li class="nav-item">
          {% if request.user.is_authenticated %}
          {% else %}
            <a class="nav-link active" aria-current="page" href="/polls/signup/" style='font-family: "Copperplate", fantasy;'>Sign Up</a>
          {% endif %}
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>