<!--
<div style="display:table-cell; vertical-align: left; background-color:rgba(83, 147, 244, 0.44);
padding:25px; position: relative; left:90px;


        color:black; width: 600px; height:800px; font-size:35px;  border-radius:10px;" >

<p><u>Queue</u></p>


<div style="display:table-cell; vertical-align: left; background-color:#1472ff70;
padding:25px; position: relative; left:600px; position: relative; bottom:25px;

    <img src='{% static "images/bg.jpg" %}'> 

        color:black; width: 600px; height:1100px; font-size:35px;  border-radius:10px;" >

<p><u>Queue</u></p>
-->